# Table Processing with Pandas
Here, we use an Automobile Dataset that contains different characteristics of an automobile such as body-style, wheel-base, engine-type, price, mileage, horsepower, etc.

In [1]:
import pandas as pd

# Load and Show the Dataset
Write a Python program to load the dataset from the `automobile.csv` file, show the data types of its columns, and also show the first 3 rows of the dataset.

In [6]:
load = pd.read_csv('automobile.csv')
load.head(3)

,index,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
0,0,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,13495.0
1,1,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,16500.0
2,2,alfa-romero,hatchback,94.5,171.2,ohcv,six,154,19,16500.0

In [3]:
load.dtypes

index                 int64
company              object
body-style           object
wheel-base          float64
length              float64
engine-type          object
num-of-cylinders     object
horsepower            int64
average-mileage       int64
price               float64
dtype: object

In [4]:
load.columns

Index(['index', 'company', 'body-style', 'wheel-base', 'length', 'engine-type',
       'num-of-cylinders', 'horsepower', 'average-mileage', 'price'],
      dtype='object')

## Clean the Dataset
Write a Python program to count the number of null values per each attribute. Then, remove all rows that have any missing values.

In [4]:
# Count the number of null values per each attribute
null_counts = load.isnull().sum()

# Print the results
print(f"Null counts per attribute:\n")
print(null_counts)

# Remove rows that have any missing values
load.dropna(inplace=True)

# Print the number of rows after removing missing values
print("\nNumber of rows after removing missing values:", len(load))

Null counts per attribute:

index               0
company             0
body-style          0
wheel-base          0
length              0
engine-type         0
num-of-cylinders    0
horsepower          0
average-mileage     0
price               3
dtype: int64

Number of rows after removing missing values: 58

## Find the Maximum
Write a Python program to find the name of the company whose car is the most expensive one.

In [16]:
# Create a dictionary to store the maximum price for each company
max_prices = {}

# Loop through the cars
for index, row in load.iterrows():
    # Get the company and price values
    company = row['company']
    price = row['price']
    
    if str(company) in max_prices:
        if price > max_prices[str(company)]:
            max_prices[str(company)] = price
    else:
        max_prices[str(company)] = price
        
# Print the max prices for each company
for company, price in max_prices.items():
    print(f"{company}: {price}")
    
# Find the company with the maximum price
max_company = max(max_prices, key=max_prices.get)

print(f"\nThe company with the most expensive car is", max_company)

alfa-romero: 16500.0
audi: 18920.0
bmw: 41315.0
chevrolet: 6575.0
dodge: 6377.0
honda: 12945.0
isuzu: 6785.0
jaguar: 36000.0
mazda: 18344.0
mercedes-benz: 45400.0
mitsubishi: 8189.0
nissan: 13499.0
porsche: 37028.0
toyota: 15750.0
volkswagen: 9995.0
volvo: 13415.0

The company with the most expensive car is mercedes-benz

## Select Specific Rows
Write a Python program to show all Toyota cars whose number of cylinders are equal to four.

In [21]:
# Filter for Toyota cars with 4 cylinders
toyota_4cyl = load[(load['company'] == 'toyota') & (load['num-of-cylinders'] == 'four')]

# Display the results
print(f"Toyota cars with four number of cylinders:\n ", toyota_4cyl)

Toyota cars with four number of cylinders:
      index company body-style  wheel-base  length engine-type num-of-cylinders  \
48     66  toyota  hatchback        95.7   158.7         ohc             four
49     67  toyota  hatchback        95.7   158.7         ohc             four
50     68  toyota  hatchback        95.7   158.7         ohc             four
51     69  toyota      wagon        95.7   169.7         ohc             four
52     70  toyota      wagon        95.7   169.7         ohc             four
53     71  toyota      wagon        95.7   169.7         ohc             four

    horsepower  average-mileage   price
48          62               35  5348.0
49          62               31  6338.0
50          62               31  6488.0
51          62               31  6918.0
52          62               27  7898.0
53          62               27  8778.0

## Count per Category
Write a Python program to count the number of cars that each company has.

In [23]:
# Group the dataset by company and count the number of cars for each company
car_counts = load.groupby('company')['company'].count()

# Print the result
print(f"The number of cars that each company has \n", car_counts)

The number of cars that each company has
 company
alfa-romero      3
audi             4
bmw              6
chevrolet        3
dodge            2
honda            3
isuzu            1
jaguar           3
mazda            5
mercedes-benz    4
mitsubishi       4
nissan           5
porsche          2
toyota           7
volkswagen       4
volvo            2
Name: company, dtype: int64

## Aggregate per Category
Write a Python program to find each company's highest car price.

In [25]:
# group the car data by company and get the max price for each group
highest_prices = load.groupby("company")["price"].max()

# print the highest prices for each company
print(f"company's highest car price: \n", highest_prices)

company's highest car price:
 company
alfa-romero      16500.0
audi             18920.0
bmw              41315.0
chevrolet         6575.0
dodge             6377.0
honda            12945.0
isuzu             6785.0
jaguar           36000.0
mazda            18344.0
mercedes-benz    45400.0
mitsubishi        8189.0
nissan           13499.0
porsche          37028.0
toyota           15750.0
volkswagen        9995.0
volvo            13415.0
Name: price, dtype: float64

## Sort by Columns
Write a Python program to sort the cars by their price, from the highest to lowest.

In [30]:
 #Sort the dataframe by price in descending order
sorted_cars = load.sort_values(by='price', ascending=False)

# Print the sorted dataframe
print(sorted_cars)

    index        company   body-style  wheel-base  length engine-type  \
35     47  mercedes-benz      hardtop       112.0   199.2        ohcv
11     14            bmw        sedan       103.5   193.8         ohc
34     46  mercedes-benz        sedan       120.9   208.1        ohcv
46     62        porsche  convertible        89.5   168.9        ohcf
12     15            bmw        sedan       110.0   197.0         ohc
26     35         jaguar        sedan       102.0   191.7        ohcv
25     34         jaguar        sedan       113.0   199.6        dohc
45     61        porsche      hardtop        89.5   168.9        ohcf
24     33         jaguar        sedan       113.0   199.6        dohc
10     13            bmw        sedan       103.5   189.0         ohc
33     45  mercedes-benz        wagon       110.0   190.9         ohc
32     44  mercedes-benz        sedan       110.0   190.9         ohc
9      11            bmw        sedan       101.2   176.8         ohc
6       6           audi        wagon       105.8   192.7         ohc
31     43          mazda        sedan       104.9   175.0         ohc
4       4           audi        sedan        99.4   176.6         ohc
8      10            bmw        sedan       101.2   176.8         ohc
2       2    alfa-romero    hatchback        94.5   171.2        ohcv
1       1    alfa-romero  convertible        88.6   168.8        dohc
7       9            bmw        sedan       101.2   176.8         ohc
54     79         toyota        wagon       104.5   187.8        dohc
5       5           audi        sedan        99.8   177.3         ohc
3       3           audi        sedan        99.8   176.6         ohc
44     57         nissan        sedan       100.4   184.6        ohcv
0       0    alfa-romero  convertible        88.6   168.8        dohc
60     88          volvo        wagon       104.3   188.8         ohc
19     28          honda        sedan        96.5   175.4         ohc
59     87          volvo        sedan       104.3   188.8         ohc
30     39          mazda    hatchback        95.3   169.0       rotor
20     29          honda        sedan        96.5   169.1         ohc
58     86     volkswagen        sedan        97.3   171.7         ohc
53     71         toyota        wagon        95.7   169.7         ohc
39     52     mitsubishi        sedan        96.3   172.4         ohc
57     82     volkswagen        sedan        97.3   171.7         ohc
56     81     volkswagen        sedan        97.3   171.7         ohc
52     70         toyota        wagon        95.7   169.7         ohc
55     80     volkswagen        sedan        97.3   171.7         ohc
43     56         nissan        wagon        94.5   170.2         ohc
18     27          honda        wagon        96.5   157.1         ohc
40     53         nissan        sedan        94.5   165.3         ohc
38     51     mitsubishi        sedan        96.3   172.4         ohc
51     69         toyota        wagon        95.7   169.7         ohc
42     55         nissan        sedan        94.5   165.3         ohc
29     38          mazda    hatchback        93.1   159.1         ohc
21     30          isuzu        sedan        94.3   170.7         ohc
41     54         nissan        sedan        94.5   165.3         ohc
15     18      chevrolet        sedan        94.5   158.8         ohc
50     68         toyota    hatchback        95.7   158.7         ohc
16     19          dodge    hatchback        93.7   157.3         ohc
49     67         toyota    hatchback        95.7   158.7         ohc
14     17      chevrolet    hatchback        94.5   155.9         ohc
17     20          dodge    hatchback        93.7   157.3         ohc
37     50     mitsubishi    hatchback        93.7   157.3         ohc
28     37          mazda    hatchback        93.1   159.1         ohc
36     49     mitsubishi    hatchback        93.7   157.3         ohc
48     66         toyota    hatchback        95.7   158.7         ohc
27     36          mazda    hatchback        93.1   159.1         ohc
13     16      chevrolet    hatchback        88.4   141.1           l

   num-of-cylinders  horsepower  average-mileage    price
35            eight         184               14  45400.0
11              six         182               16  41315.0
34            eight         184               14  40960.0
46              six         207               17  37028.0
12              six         182               15  36880.0
26           twelve         262               13  36000.0
25              six         176               15  35550.0
45              six         207               17  34028.0
24              six         176               15  32250.0
10              six         182               16  30760.0
33             five         123               22  28248.0
32             five         123               22  25552.0
9               six         121               21  20970.0
6              five         110               19  18920.0
31             four          72               31  18344.0
4              five         115               18  17450.0
8              four         101               23  16925.0
2               six         154               19  16500.0
1              four         111               21  16500.0
7              four         101               23  16430.0
54              six         156               19  15750.0
5              five         110               19  15250.0
3              four         102               24  13950.0
44              six         152               19  13499.0
0              four         111               21  13495.0
60             four         114               23  13415.0
19             four         101               24  12945.0
59             four         114               23  12940.0
30              two         101               17  11845.0
20             four         100               25  10345.0
58             four         100               26   9995.0
53             four          62               27   8778.0
39             four          88               25   8189.0
57             four          52               37   7995.0
56             four          85               27   7975.0
52             four          62               27   7898.0
55             four          52               37   7775.0
43             four          69               31   7349.0
18             four          76               30   7295.0
40             four          55               45   7099.0
38             four          88               25   6989.0
51             four          62               31   6918.0
42             four          69               31   6849.0
29             four          68               31   6795.0
21             four          78               24   6785.0
41             four          69               31   6649.0
15             four          70               38   6575.0
50             four          62               31   6488.0
16             four          68               31   6377.0
49             four          62               31   6338.0
14             four          70               38   6295.0
17             four          68               31   6229.0
37             four          68               31   6189.0
28             four          68               31   6095.0
36             four          68               37   5389.0
48             four          62               35   5348.0
27             four          68               30   5195.0
13            three          48               47   5151.0

## Merge two Datasets
Write a Python program to merge the previous dataset with a new given dataset to add a country column to our dataset.

In [49]:
# load the previous dataset
df1 = pd.read_csv("automobile.csv")

# create the new dataset
df2 = pd.DataFrame({
    "company": ["audi", "bmw", "chevrolet", "dodge", "honda", "jaguar", "toyota","volkswagen", "alfa-romero", "volvo", "nissan", "porsche"],
    "country": ["Germany", "Germany", "USA", "USA", "Japan", "UK", "Japan", "Germany", "Italy", "Sweden", "Japan", "Germany"]
})

# merge the two datasets on the "company" column
df = pd.merge(df1, df2, on="company", how="left")

# print the merged dataset
#print(df2)

print(df)

df.head()

    index      company   body-style  wheel-base  length engine-type  \
0       0  alfa-romero  convertible        88.6   168.8        dohc
1       1  alfa-romero  convertible        88.6   168.8        dohc
2       2  alfa-romero    hatchback        94.5   171.2        ohcv
3       3         audi        sedan        99.8   176.6         ohc
4       4         audi        sedan        99.4   176.6         ohc
..    ...          ...          ...         ...     ...         ...
56     81   volkswagen        sedan        97.3   171.7         ohc
57     82   volkswagen        sedan        97.3   171.7         ohc
58     86   volkswagen        sedan        97.3   171.7         ohc
59     87        volvo        sedan       104.3   188.8         ohc
60     88        volvo        wagon       104.3   188.8         ohc

   num-of-cylinders  horsepower  average-mileage    price  country
0              four         111               21  13495.0    Italy
1              four         111               21  16500.0    Italy
2               six         154               19  16500.0    Italy
3              four         102               24  13950.0  Germany
4              five         115               18  17450.0  Germany
..              ...         ...              ...      ...      ...
56             four          85               27   7975.0  Germany
57             four          52               37   7995.0  Germany
58             four         100               26   9995.0  Germany
59             four         114               23  12940.0   Sweden
60             four         114               23  13415.0   Sweden

[61 rows x 11 columns]

,index,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price,country
0,0,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,13495.0,Italy
1,1,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,16500.0,Italy
2,2,alfa-romero,hatchback,94.5,171.2,ohcv,six,154,19,16500.0,Italy
3,3,audi,sedan,99.8,176.6,ohc,four,102,24,13950.0,Germany
4,4,audi,sedan,99.4,176.6,ohc,five,115,18,17450.0,Germany

In [51]:
com_cou = df[['company', 'country']]
print(com_cou)

        company  country
0   alfa-romero    Italy
1   alfa-romero    Italy
2   alfa-romero    Italy
3          audi  Germany
4          audi  Germany
..          ...      ...
56   volkswagen  Germany
57   volkswagen  Germany
58   volkswagen  Germany
59        volvo   Sweden
60        volvo   Sweden

[61 rows x 2 columns]

## Apply a Function
Write a Python program that transforms the column "num-of-cylinders" from strig to integer. For example, all the "four" values in this column should be changed to 4.

In [47]:
data = pd.read_csv('automobile.csv')
# define a dictionary to map string values to integer values
cylinder_map = {'four': 4, 'five': 5, 'six': 6, 'eight': 8, 'two': 2, 'three': 3, 'twelve': 12}

# apply the mapping to the 'num-of-cylinders' column
data['num-of-cylinders'] = data['num-of-cylinders'].apply(lambda x: cylinder_map[x])

print(data.head())

   index      company   body-style  wheel-base  length engine-type  \
0      0  alfa-romero  convertible        88.6   168.8        dohc
1      1  alfa-romero  convertible        88.6   168.8        dohc
2      2  alfa-romero    hatchback        94.5   171.2        ohcv
3      3         audi        sedan        99.8   176.6         ohc
4      4         audi        sedan        99.4   176.6         ohc

   num-of-cylinders  horsepower  average-mileage    price
0                 4         111               21  13495.0
1                 4         111               21  16500.0
2                 6         154               19  16500.0
3                 4         102               24  13950.0
4                 5         115               18  17450.0